@tailwind base;
@tailwind components;
@tailwind utilities;

.success {
     @apply bg-green-400;
}

.error {
     @apply bg-red-400;
}

input, textarea {
     @apply placeholder-slate-400 rounded-sm p-4 ring-1 ring-slate-200 shadow-sm appearance-none focus:ring-4 focus:text-black focus:ring-slate-200 focus:outline-none 
}

input.error {
     @apply ring-red-400 focus:ring-red-400 text-red-400
}

button {
     @apply rounded-sm shadow p-3 w-full font-bold;
}

button.primary {
     @apply bg-green-200 hover:bg-green-100;
}

button.secondary {
     @apply bg-slate-100 hover:bg-slate-200;
}

button.transparent {
     @apply bg-transparent border-0 shadow-none font-normal text-sm;
}

button.white {
     @apply bg-white;
}

pwa-camera-modal-instance {
     z-index: 2000;
}

.z-800 {
    z-index: 800;
}

.z-1000 {
    z-index: 1000;
}

.z-1050 {
     z-index: 1050;
}

.z-1080 {
     z-index: 1080;
}

.z-1100 {
     z-index: 1100;
}

.spinner-border {
    border-top-color: transparent;
}

.range-slider {
    -webkit-appearance: none;
}
.range-slider:focus {
     outline: none;
}
.range-slider::-webkit-slider-runnable-track {
     @apply bg-slate-100 w-full h-2.5 rounded-sm cursor-pointer;
}
.range-slider::-moz-range-track {
     @apply bg-slate-100 w-full h-2.5 rounded-sm cursor-pointer;
 }
.range-slider::-webkit-slider-thumb {
     @apply h-6 w-6 bg-white border-slate-200 rounded-full cursor-pointer drop-shadow-lg;
}
.range-slider::-moz-range-thumb{
     @apply h-6 w-6 bg-white border-slate-200 rounded-full cursor-pointer border-2 drop-shadow-lg;
}
.range-slider::-moz-focus-outer {
     border: 0;
}